{% extends "base.html" %}    

{% block page_specific_form_validation %}

<script type="text/javascript">

    function validate(){
        // check that quality radio has been selected
        rhsradio = getRadioValue('rsRadio')
        lhsradio = getRadioValue('lsRadio')
        if(rhsradio == 'none' || lhsradio=='none'){
            alert("Quality options must be selected.");
            return 0;
        }
        // check all-up SBS metrics radio has been selected
        sbs = getRadioValue('sbs')
        if(sbs == 'none'){
            alert("Side-by-side option must be selected")
            return 0;
        }
        // get hallucination checkboxes
        var lshs = document.getElementById('lsh').checked;
        var rshs = document.getElementById('rsh').checked;
        // get notes
        var lsnotes = document.getElementById('lsnotes').value;
        var rsnotes = document.getElementById('rsnotes').value;

        // map all this goodness to an object to pass back to flask
        var params = {}
        params['rhsquality'] = rhsradio;
        params['lhsquality'] = lhsradio;
        params['lshs'] = lshs;
        params['rshs'] = rshs;
        params['lsnotes'] = lsnotes;
        params['rsnotes'] = rsnotes;
        params['sbs'] = sbs;
        params['task_id'] = "{{ task_id }}";
        // set the flask route path and post
        var path = '/sbs01';
        post(path, params);
    }
</script>
{% endblock %}

{% block body %}
<table class="mbtable">
    <tr>
        <td class="ltd">
            <!--<div class='leftcol'>-->
                {% for para in lst %}
                    <div class="p"> {{para}}</div>
                {% endfor %}
        </td>
        <td class="rtd">
            {% for para in rst %}
                    <div class="p"> {{para}}</div>
                {% endfor %}
        </td>
    </tr>
    <tr>
        <td class='lsanots'>
            <u>Quality of the answer:</u> <br/>
            <input type="radio" name="lsRadio" value="perfect">Perfect
            <input type="radio" name="lsRadio" value="good">Good
            <input type="radio" name="lsRadio" value="ok">OK
            <input type="radio" name="lsRadio" value="poor">Poor
            <br><br>
            Hallucination suspected? <input type="checkbox" id="lsh" name="lsh" value="Hallucination?">
            <br><br>
            Notes:<br><textarea style="width:400px;height:75px;" id='lsnotes'></textarea><br><br>
        </td>
        <td class="rsanots">
            <u>Quality of the answer:</u> <br/>
            <input type="radio" name="rsRadio" value="perfect">Perfect
            <input type="radio" name="rsRadio" value="good">Good
            <input type="radio" name="rsRadio" value="ok">OK
            <input type="radio" name="rsRadio" value="poor">Poor
            <br><br>
            Hallucination suspected? <input type="checkbox" id="rsh" name="rsh" value="Hallucination?">
            <br><br>
            Notes:<br><textarea style="width:400px;height:75px;" id='rsnotes'></textarea><br><br>
        </td>
    </tr>
    </table>
    <br>
    <div class="footer">
        <input type="radio" name="sbs" value="lsmb">Left Side Much Better
        <input type="radio" name="sbs" value="lsb">Left Side Better
        <input type="radio" name="sbs" value="same">Equivalent
        <input type="radio" name="sbs" value="rsb">Right Side Better
        <input type="radio" name="sbs" value="rsmb">Right Side Much Better
    </div>
    <br>
    <div class="footer">
        <button class="submit_button" onclick="validate()" id="submit_button">Submit</button>
        <br>
        {{ debug_text }}
{% endblock %}
    